:root {
    --q-primary: #2c77c2;
    --q-secondary: #258a80;
    --q-accent: #9c27b0;
    --q-positive: #21ba45;
    --q-negative: #c10015;
    --q-info: #31ccec;
    --q-warning: #f2c037;
    --q-dark: #111b29;
    --q-dark-page: #0c0c0e;
}

.glass-header-main {
    background: #121212;
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.app-footer {
    background: #121212;
    backdrop-filter: blur(20px);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}
